@import "../../css/mixin.scss";
@import "../../css/icon.scss";

.weather-list-wrapper {
  background: #1a1a1a4d;
  border-radius: 24px;
  padding: 1rem;
  margin-top: 20px;
  width: 100%;
  min-height: 250px;
  max-height: 50vh;
  overflow: auto;

  @include bp("mobile") {
    max-height: 40vh;
  }

  .weather-detail-wrapper {
    display: flex;
    justify-content: space-between;
    background: #1a1a1a80;
    padding: 0.6rem 1rem 0.6rem 1rem;
    border-radius: 16px;
    margin: 15px 0;

    .loca-timestamp-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;

      @include bp("mobile") {
        display: flex;
        flex-flow: column;
      }

      .timestamp {
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        color: #ffffff80;
        padding: 2px 5px 0 0;
        margin: 0;

        @include bp("mobile") {
          @include mobile-small-desc;
        }
      }

      .location {
        color: #ffffff;
        text-transform: capitalize;
        @include common-small-para;

        @include bp("mobile") {
          @include mobile-small-para;
        }
      }
    }

    .ico-wrapper {
      display: flex;
      width: fit-content;

      .circle-ico-wrapper {
        border: 2px solid #ffffff66;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 0 4px;
        cursor: pointer;

        .ico-search-dark {
          position: relative;
          top: 16%;
          left: 16.5%;
        }

        .ico-delete-dark {
          position: relative;
          top: 16%;
          left: 19.5%;
        }
      }
    }
  }

  .header {
    @include common-small-para;
    color: #ffffff;

    @include bp("mobile") {
      @include mobile-small-desc;
    }
  }

  .no-history {
    @include common-small-para;
    color: #ffffff;
    margin: 0 auto;
    width: max-content;
  }
}
